form {
    width: inherit;
    text-align: center;
    border: solid gray 0.1em;
}

form h4 {
    margin-block: 0.5em;
    background-color: #79482abe;
}

form div {
    margin: 0.2rem;
    border-bottom: solid black 0.1em;
    text-align: right;
    padding: 0 0.5em;
}

form div label {
    margin-right: 0.1em;
    border-right: solid black 0.1em;
    padding-right: 0.2em;
}

form div button {
    width: 6em;
    border: solid rgb(102, 102, 102) 0.2em;
}
